.inputWrapper,
.inputWrapperError {
  background: #5f5f5f;
  padding: 11px 24px;
  margin-bottom: 24px;
  border-radius: 100px;
  width: 100%;
  display: flex;
}

.emailInput,
.passInput {
  color: #ffffff;
  width: 100%;
  font-size: 14px;
}

.emailInput::placeholder,
.passInput::placeholder {
  color: #d0d0d0;
}

.inputWrapperError {
  margin-bottom: 4px;
}
