.btn {
  height: 40px;
  width: 100%;
  border-radius: 100px;
  padding: 10px;
  border: none;
  text-align: center;
  font-family: inherit;

  &_light {
    background-color: #ffffff;
    color: #131313;
  }

  &_dark {
    background-color: #464646;
    color: #ffffff;
  }
}

@media (min-width: 1024px) {
  .btn {
    max-width: 270px;
  }
}
