.profileModalWrapper {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  left: 35%;
  top: 20%;
  text-align: center;
  width: 500px;
  border-radius: 24px;
  gap: 40px;
  padding: 40px;
}

.settingsModalCloseBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.profileModalTitle {
  font-size: 32px;
  line-height: 35.2px;
  color: rgba(255, 255, 255, 1);
  user-select: none;
}

.profileModalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.profileModalDivider {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.profileModalFormItem {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  border-radius: 100px;
  padding: 11px 24px;
  background: rgba(255, 255, 255, 0.08);
  color: white;
}
