.wrapper {
  padding: 16px;
  color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.chatSectionWrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  padding: 16px;
  cursor: pointer;
}

.chatListWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.chatItemWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  padding: 16px;
}

.chatItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.chatWrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.08);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.chat {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  margin-bottom: 16px;
  margin-top: 16px;
  padding-right: 10px;
  overflow-y: scroll;
}

.chatMessage {
  min-width: 400px;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 13px 16px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.08);
}

.inputWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: rgba(95, 95, 95, 1);
  border-radius: 100px;
  padding: 4px 4px 4px 24px;
}

.searchInput {
  font-size: 14px;
  width: 100%;
}
